<h1>Créer un nouvel événement</h1>

<%= simple_form_for [@user, @event] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :location %>
  <%= f.input :category, collection: Event::CATEGORIES %>
  <%= f.input :available_tickets %>
  <%= f.input :available_tickets %>

  <h3>Ajouter un prix :</h3>
  <div id="price-fields">
    <div class="nested-fields">
      <%= f.simple_fields_for :prices do |price_form| %>
        <%= price_form.input :ticket_price, label: 'Prix' %>
        <%= price_form.input :category, label: 'Catégorie' %>
      <% end %>
    </div>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to "Retour à la liste des événements", events_path %>
