<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="welcome-message">
        <div class="img-connect-background">
          <%= image_tag "connect-background.jpg", alt: "Logo d'Eventify", class: "img-fluid" %>
        </div>
        <h2>Bienvenue</h2>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="logo">
          <%= image_tag "logo.png", alt: "Logo d'Eventify" %>
        </div>
        <h1>Eventify</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                label: "ADRESSE MAIL",
                placeholder: 'Entrez votre adresse mail',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
          <%= link_to("Mot de passe oublié ?", new_password_path(@user)) %>
          <%# ajouter une classe pour modifier l'apparence du lien et corriger sa position %>
          <%= f.input :password,
                label: "MOT DE PASSE",
                placeholder: 'Entrez votre mot de passe',
                required: false,
                input_html: { autocomplete: "current-password" } %>

        <%# ajouter la possibilité de voir le mot de passe que l'on écrit %>

          <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.submit "Se connecter", class: "button-connect" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
