<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="welcome-message">
        <%= image_tag("crowd-1056764_1280.jpg", class: "img-fluid") %>
        <h2>Bienvenue</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h1>Eventify</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                label: "Votre adresse mail",
                placeholder: 'adressemail@gmail.com',
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                label: "Votre mot de passe",
                placeholder: '*******',
                required: false,
                input_html: { autocomplete: "current-password" } %>

        <%# ajouter la possibilité de voir le mot de passe que l'on écrit %>

          <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Se connecter" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>





<%= render "devise/shared/links" %>
